{% extends 'base.html' %}



{% block content %}
{% load crispy_forms_tags %}
     <div class="row">
        <!--load the sidebar-->
        {% include 'dashboard/sidebar.html' %}


       <!-- Right Sidebar -->
        <div class="col-md-9">
            {% if perms.auth.add_user %}
            <h2>Add New User</h2>
            <form method="POST" action="{% url 'add_user' %}">  <!--enctype is used for file upload and multipart is used for both text and file data-->
                {% csrf_token %}
                {{forms|crispy}}
                <button type="submit" class="btn btn-warning">Add</button>
            </form>
            <br>
            {% else %}
            <div class="alert alert-danger">
                You don't have permission to view this page. Please contact the administrator.
            </div>
            {% endif %}
                
        </div>
            

    </div>
{% endblock content %}
    